<section id="login">
    <article>
        <aside>
            <h1>Login</h1>
             <figure>
                <img src="/images/login.jpg" alt="" />
            </figure>
            <p> WE DO, is a global freelancing platform and social
                networking where businesses and independent professionals
                connect and collaborate globally.</p>
           
        </aside>
        <div class="loginForm">
            <form action="/user/login" method="post" novalidate>
                <input type="email" name="email" placeholder="enter email" required />
                <input type="password" name="password" placeholder="enter password" required />
                {{!-- <P>By Continuing, you agree to We do <br>Terms of Use and Privacy Policy</P> --}}
                <button>Login</button>
                <p>Need Account ?</p>
                <a name="registerLink" href="/user/register">Register</a>
                {{!-- <button>LogUP</button> --}}
            </form>
        </div>
    </article>
</section>

{{!-- <section class="wrapper">

    <div id="loginBlock">
        <article class="left">

            <figure>
                <img src="/cm-logo.png" alt="lOgo">
            </figure>
            <div>
                Project media, is a global freelancing platform and social
                networking where businesses and independent professionals
                connect and collaborate globally.
            </div>
            <figure>
                <img src="cm-main-img.png" alt="back">
            </figure>

        </article>

        <article class="right">
            <h2>Login</h2>
            <form action="/user/login" id="login" method="post" novalidate>
                <div>
                    <input type="email" name="email" placeholder="enter email" required />
                </div>
                <div>
                    <input type="password" name="password" placeholder="enter password" required />
                </div>

                <div>
                    <a name="registerLink" href="./_register.handlebars">Register</a>
                </div>

                <button>Login</button>
            </form>
        </article>
    </div>
</section> --}}