<section id="navbar">
    <article>
        <header><h1> <i class="fa-solid fa-earth-asia"></i> We Do </h1></header>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/user/profile">profile</a></li>
            <li><a href="/">Contact</a></li>
            <li><a href="/user/register">Register</a></li>
            <li><a href="/user/login">Login</a></li>
        </ul>
    </article>
</section>